# URL backend Express/Prisma (PostgreSQL)
VITE_API_URL=postgresql://neondb_owner:npg_v6tkmJjprUd3@ep-muddy-glade-ah8di2pf-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
